{% extends "@App/layout.html.twig" %}

{% block body %}

    <div class="page-header">
        <h1>Home page</h1>
        {{ form(message_form, {action:path('create_form')}) }}
    </div>

{% endblock %}