{% extends "@App/layout.html.twig" %}

{% block body %}

    <div class="page-header">
        <h1>Home page</h1>
        {{ form(message_form, {action:path('create_form')}) }}
    </div>

    <div class="last-messages">

    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            $.get( "{{ path('list_message') }}", { limit: "10" }, function( data ) {
                $( ".last-messages" ).html( data );
            });
        })
    </script>

{% endblock %}